
/* Dark Mode */
.admin-layout.dark .sidebar {
  background-color: #121212;
}

.admin-layout.dark .main-content {
  background-color: #1e1e1e;
  color: white;
}

.admin-layout.dark .custom-header {
  background-color: #292929;
  color: var(--dark-mode-color);
}

.admin-layout.dark .theme-toggle {
  color: white;
}

.admin-layout.dark .sidebar a , .admin-layout.dark .custom-header a {
  color: var(--dark-mode-color)
}

.admin-layout.dark .card {
  background-color: var(--dark-mode-color)
}

.admin-layout.dark .sidebar .dropdown-toggle {
  color: var(--dark-mode-color)
}
.admin-layout.dark .btn-outline-primary, .admin-layout.dark .btn-outline-secondary {
  color: var(--dark-mode-color);
  border-color: var(--dark-mode-color);
}
.admin-layout.dark .student-card .btn-outline-primary {
  color: var(--dark-mode-bg);
  border-color: var(--dark-mode-bg);
}

.admin-layout.dark .custom-header {
  border-right: 8px solid var(--dark-mode-color);
}

.admin-layout.dark .custom-table-wrapper {
  background-color: var(--dark-mode-bg);
}
.admin-layout.dark .table tbody tr {
  background-color: var(--dark-mode-color);
}