
  .dashboard-navbar {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
    
  .nav-button {
    border-bottom: none;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    margin-right: 8px;
  }
  
  .app-name {
    font-weight: bold;
    color: var(--color-white);
    font-size: 1.5rem;
  }
  
  .navbar-nav .nav-link,
  .navbar-nav {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  .navbar-nav .nav-link{
    color: var(--color-black);
    margin-left: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .dropdown-menu {
    width: 300px;
    min-width: 200px;
    max-width: 250px;
    color: var(--color-white);
  }
  .navbar-toggler {
    color: var(--color-white);
  }
  
  .navbar-toggler-icon {
    color: var(--color-white);
  }

  .dropdown-menu {
    background: var(--color-primary);
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: 100px;
    margin-left: 15px;
    border: solid 1px grey;
    position: absolute;
    z-index: 1;
  }
  
  .dropdown-item {
    background: none;
    border: none;
    text-align: left;
    cursor: pointer;
    width: 100%;
    color: var(--color-black);
    border-bottom: solid var(--color-gold) 1px;
  }
  
  .dropdown-item:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 3px;
  }