.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    width: 40px;       /* Adjust the size as needed */
    height: auto;
    margin-right: 10px; /* Space between the logo and title */
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 1.8em;
    color: var(--color-white);
  }
  
  .user-profile span {
    font-size: 1em;
    color: var(--color-gold);
    /* margin-right: 30px; */
  }
  