
:root {
  --color-primary: #4a90e2;
  --color-gold: #f7d793;
  --color-secondary: #a0d468;
  --color-white: #fff;
  --color-error: #ff4d4d;
  --color-black: #000;
  --color-grey: #3b3939;
}

body {
  background-color: var(--color-blue);
  color: var(--color-grey);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  border-bottom: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

Select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.data-table {
  padding: 2px;
}

.form-container {
  /* min-width: 300px; */
  width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  margin: auto;
  overflow-x: auto;
  min-height: 80vh;
}

.shadow {
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3), 
              0px 15px 40px rgba(0, 0, 0, 0.2);
}

.bg-primary {
  color: var(--color-black);
  background: white;
  /* background: linear-gradient(135deg, var(--color-gold), var(--color-secondary), var(--color-primary)); */
  background: linear-gradient(135deg, var(--color-secondary), var(--color-primary));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.bg-alt {
  color: var(--color-black);
  background: white;
  /* background: linear-gradient(135deg, var(--color-gold), var(--color-secondary), var(--color-primary)); */
  background: linear-gradient(-135deg, var(--color-secondary), var(--color-primary));
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hoverable:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.4), 
              0px 20px 30px rgba(0, 0, 0, 0.3);
}

.form-label {
  font-weight: 300;
  color: #333;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

/* Input fields */
.form-control {
  border-radius: 6px;
  padding: 3px;
  border: 1px solid #ccc;
  transition: border-color 0.3s ease-in-out;
}

.form-control:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Textarea */
.form-textarea {
  resize: none;
  height: 100px;
}

/* Submit button */
.btn-submit {
  width: 100%;
  font-size: 16px;
  background-color: var(--color-primary);
  border: none;
  transition: 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 5px;
}

.form-button:hover {
  background-color: #0056b3;
}

/* Information items */
.info-item {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* Icons */
.icon {
  color: #007bff;
}

/* Table container */
.table-container {
  width: 100%;
  /* max-width: 700px; */
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
  overflow-x: scroll;
}

/* Table header */
.table-header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
}

/* Icons */
.icon {
  color: #007bff;
}

.btn-submit:hover {
  background-color: #0056b3;
}

/* Action buttons */
button {
  display: inline-flex;
  align-items: center;
  gap: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .form-container {
    min-width: 300px;
    padding: 15px;
    width: 100%;
  }
  .table{
    max-width: 300px;
    overflow-x: auto;
  }
  body {
    overflow-x: scroll;
  }
}
.table td,
.table th {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  vertical-align: middle;
}

.divider-with-text {
  display: flex;
  align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

.divider-with-text::before,
.divider-with-text::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #dc3545;
  margin: 0 0.75rem;
}

